/* 全局重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f4f7;
  color: #222;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* 全局按钮 */
.btn {
  padding: 10px 16px;
  border-radius: 12px;
  background: linear-gradient(135deg, #b48cff, #ff9ecd);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}

